#gameboard{
    /*width: 880px;
    height: 880px;*/
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 50vh;
}

p{
    font-family: "Audiowide", sans-serif;
}


  
#who {
    padding-left: 10px;
}

#wow{
    text-align: center;
    font-size: xx-large;
}  

/*chess section*/
.square{
    /*height: 110px;
    width: 110px;*/
    height: 40px;
    width: 40px;
    position: relative;
}

.piece{
    position: relative;
    z-index: 9;
}

.square svg{
    /*height: 100px;
    width: 100px;*/
    height: 30px;
    width: 30px;
    position: relative;
    z-index: -9;
}

path{
    position: relative;
    z-index: -10;
}

.black{
    fill: rgb(0, 0, 0);
}

.white{
    fill: white;
}

.beige{
    background-color: rgb(201, 201, 140);
}

.brown{
    background-color: rgb(88, 48, 48);
}